<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <configSections>
  </configSections>
  <connectionStrings>
    <add name="Myconnection" connectionString="Server=KSHITIJ-MAC\SQLEXPRESS;Initial Catalog=Chrome_History;Integrated Security=True;Pooling=False" />
    <add name="chrome_history.Properties.Settings.db_a2df89_libdemoConnectionString"
      connectionString="Data Source=SQL5059.site4now.net;Initial Catalog=db_a2df89_libdemo;User ID=db_a2df89_libdemo_admin;Password=tpdc123#"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MISAuthoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mistools.svpcet.in/ws/autho/misautho.asmx"
                binding="basicHttpBinding" bindingConfiguration="MISAuthoSoap"
                contract="mis_authoService.MISAuthoSoap" name="MISAuthoSoap" />
        </client>
    </system.serviceModel>
</configuration>